@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Subtitle"] = "When you provide personal details, these will be treated pursuant to the legal obligations in force in terms of the processing of personal details.";
    Layout = "stylish-portfolio/_ServiceLayout";
}
<div class="content">
    <article class="node node-page node-published node-not-promoted node-not-sticky author-edescamps odd clearfix" id="node-page-1509">
        <div class="left_cnt_bar">
            <h2 class="description">Privacy policy</h2>
            <p style="text-align: justify;">
                Although most information on this site is accessible without providing any personal information, it is possible that the user's personal information is requested.
                <br />
                <br />
                We collect:
            </p>
            <ul>
                <li style="text-align: justify;">
                    <p>Information you store on our site to trigger an action from our site (applying for a job, asking to be contacted for commercial purposes, etc.)</p>
                </li>
                <li style="text-align: justify;">
                    <p>Automated information: when you visit our website we receive and collect information (which may in certain circumstances constitute personal information) - and which includes your IP address, referral URL, exit URL, browser software, operating system, date/time and/or clickstream data</p>
                </li>
                <li style="text-align: justify;">
                    <p>Website Analytics tools services by third parties to collect information about the use of this Site, such as number of visits, pages visited, popularity of certain content. Analytics tools use tracking technologies (like cookies) to recognize your device and compile information about you. They collect information such as what pages you visit and how much time you spend on these pages, the IP address assigned to you, what operating system and web browser you use, and what site you visited prior to visiting our website.</p>
                </li>
                <li style="text-align: justify;">
                    <p>Information Logs: when you visit our site, send us an email or participate in a survey on our website, we automatically collect and store certain information in log files. This includes your IP address, URL, referral URL, exit URL, browser software, operating system, date/time, requests type to our Site and error responses returned by our Site or Services.</p>
                </li>
            </ul>
            <p style="text-align: justify;">About the information you store on our site:</p>
            <ul>
                <li style="text-align: justify;">
                    <p>This information will only be used as part of our customer management, to answer to your questions. The user can, free of charge and by request, oppose to the use of personal information for direct marketing. The user will send his request to Business Training (see how to contact us here under). Your personal information is never shared with or provided to third parties</p>
                </li>
                <li style="text-align: justify;">
                    <p>The user has a legal right of access to or correction of his/her personal information. Providing proof of identity (copy of identity card) by sending a written, dated and signed request to Business Training (see how to contact us here under), you will receive a free written notice of your personal information. If necessary, you can also request to correct inaccurate, incomplete or irrelevant details.</p>
                </li>
                <li style="text-align: justify;">
                    <p>If, via our website, you provide us with your mailing address, you may receive mail from us containing information in line with the purpose of the request (as an example, if you a apply for a job, we use the addres to send information about the job opportunity). If you do not wish to receive these mails, please report this to us explicitly at the address mentioned below.</p>
                </li>
                <li style="text-align: justify;">
                    <p>If, via our website, you provide us with your telephone number, we may contact you by telephone and provide information in line with the purpose of your request (as an example, if you leave your phone number on a contact page and ask to call you back about a specific subject, we use the phone number to provide you the requested information). If you do not wish to receive these phone calls, please report this to us explicitly at the address mentioned below.</p>
                </li>
            </ul>
            <p style="text-align: justify;">About automated information, website analytics related information, and information logs:</p>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">we collect information to diagnose problems with our servers, to administer our site and services: Ttis is not linked to any personally identifiable information, except if necessary to prevent fraud or abuse on our Site and systems.</p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">we collect information to improve services on our Site.</p>
                </li>
            </ul>
            <p style="text-align: justify;">If you wish to react to the privacy policy described above or if you find that our website does not comply with our aforementioned policy, please get in contact with us.</p>
            <h2 class="description">How to contact us about this privacy policy</h2>
            <p style="text-align: justify;">
                By email: info@businesstraining.be
                <br /> By phone: +32 2 503 40 40
                <br /> By post: Business Training, rue de la régence, 58, 1000 Brussels, Belgium
            </p>
        </div>
        <div class="content clearfix">
        </div>

        <div class="clearfix">
            <nav class="links node-links clearfix"></nav>

        </div>
    </article>
</div>
