<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">

        <li class="sidebar-brand">
            @Html.ActionLink("Online Services", "Index", "Home", new { area = "" }, new { @class = "js-scroll-trigger" })
        </li>

        <li class="sidebar-nav-item">
            <a class="nav-link" asp-area="Registration" asp-controller="Account" asp-action="Login">LogIn</a>
            <hr/>
        </li>
        
        <li class="sidebar-nav-item">
            <a class="nav-link" asp-area="Facilities" asp-controller="Incident" asp-action="Create">Incident Reporting</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Disclaimer">Disclaimer</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>

        <li class="sidebar-nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Disclaimer">Disclaimer</a>
        </li>
        <!--<li class="alert-info">Schedule Manager</li> ATHtml.ActionLink("Privacy", "Privacy", "Home", null, new { ATclass = "nav-link" })-->
    </ul>
</nav>